<h2>Users</h2>
<% if(admin.role === 'superadmin') 

    {%> 
        <form action="/users/add" method="">
            <input type="text" name="name" placeholder="Name" required>
            <input type="email" name="email" placeholder="Email" required>
            <button type="submit">Add User</button>
        </form>
    <%}

%>

<ul> 
    <% users.forEach(user => { %> 
    <li><%= user.name %> - <%= user.email %> 
    <% if (admin.role === 'superadmin') { %> 
    <form action="/users/<%= user._id %>?_method=DELETE" method="POST"> 
    <button type="submit">Delete</button> 
    </form> 
    <% } %> 
    </li> 
    <% }) %> 
</ul>